*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body{
	height: 100%;
}

/**Estilo para o plugin slick**/
	
	.slick-dotted ul{
		list-style-type: none;
		text-align: center;
		position: relative;
		margin-top: 50px;
	}

	.slick-dotted li{
		display: inline-block;
		margin:0 7px;
	}

	.slick-dotted button:focus{
		outline: 0;
	}

	.slick-dotted li button{
		width: 16px;
		height: 16px;
		border-radius: 8px;
		color: #d8d8d8;
		border-width: 0;
		background: #d8d8d8;
		opacity: 1;
		cursor: pointer;
	}

	li.slick-active button{
		background: #688293;
		color: #688293;
	}

	.slick-slide:focus{outline: none;}
	

/**Fim do estilo para o plugin**/

.clear{
	clear: both;
}

.container{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

/** Header do site **/

header{
	padding: 20px 2%;
	
}

header .logo img{
	float: left;
	width: 236px;
}

header nav.menu-desktop{
	float: right;
}

header nav.menu-desktop ul{
	padding: 8px 0;
	list-style: none;
}

header nav.menu-desktop ul li{
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 20px;
}

header nav ul li a{
	color: #b4b4b4;
	text-decoration: none;
}

header nav.menu-mobile{
	display: none;
	float: right;
	background-size: 100% 100%;
	height: 28px;
	width: 28px;
	background-image: url(../images/menu-mobile.png);
	cursor: pointer;
	margin-top: 10px;
}

header nav.menu-mobile ul{
	display: none;
	background-color: white;
	position: absolute;
	top: 60px;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 99;
}

header nav.menu-mobile ul li{
	padding: 10px 0;
	text-transform: uppercase;
}

/** AQUI INICIA O MOSAICO **/

.mosaico{

}

.mosaico-single{
	float: left;
	width: calc(100% / 6);
}
.img-mosaico-single{
	width: 100%;
	padding-top: 110%;
	border: 5px solid white;
	background-size: 100% 60%;
	background-repeat: no-repeat;
	/*background-image: url('');*/
}

section.servicos .container{
	max-width: 800px;
	display: flex;
	align-items: center;
	position: relative;
	top: -40px;
	text-align: center;
}

section.servicos .container .box-servico{
	background-image: url('../images/icone_dente.png');
	background-size: 18px 18px;
	background-position: center calc(100% - 7px);
	background-repeat: no-repeat;

}

section.servicos .container .box-servico h2{
	color: white;
	font-weight: normal;
	font-size: 15px;
	text-transform: uppercase;
}

section.servicos .container .box-servico p{
	color: white;
	font-weight: normal;
	font-size: 12px;
	margin-top: 8px;
}

section.servicos .container .box-servico:nth-of-type(1){
	width: 30%;
	padding: 45px 2%;
	background-color: #576975;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

section.servicos .container .box-servico:nth-of-type(2){
	width: 40%;
	padding: 60px 2%;
	background-color: #688293;
	border-radius: 7px;
	background-image: none;
}

section.servicos .container .box-servico:nth-of-type(3){
	width: 30%;
	padding: 45px 2%;
	background-color: #576975;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/** AQUI INICIA O PERFIL **/

section.perfil-container{
	padding: 40px 0;
}

section.perfil-container .container{
	max-width: 1000px;
}

section.perfil-container .container .perfil-wraper{
	padding-top: 50%;
	position: relative;
}

section.perfil-container .container .perfil-wraper2{
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 100%;
	height: 100%;
}

section.perfil-container .img-perfil{
	width: 40%;
	height: 100%;
	background-image: url('../images/img_perfil.png');
	background-size: 100% 100%;
}

section.perfil-container .texto-perfil{
	width: 50%;
	padding: 10px 30px;
	line-height: 20px;
}

section.perfil-container .texto-perfil h2{
	color: #688293;
	font-size: 18px;
}

section.perfil-container .texto-perfil p{
	color: rgb(170,170,170);
	font-size: 15px;
	margin-top: 8px;
	line-height: 25px;

}

/** AQUI INICIA OS VÃDEOS **/

section.videos{
	padding: 50px 0;
}

section.videos .box-video{
	float: left;
	width: 33.3%;
	padding-top: calc(33.3% * 0.6);
	position: relative;
	border: 5px solid white;
}

section.videos iframe{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/** AQUI INICIA OS TRATAMENTOS **/

section.tratamentos{
	padding: 50px 0;
}

section.tratamentos > h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
}

section.tratamentos .container{
	padding: 70px 0 50px 0;
}

section.tratamentos .tratamento-container{
	float: left;
	width: 33.3%;
}

.tratamento-single{
	padding: 20px;
}

.tratamento-single h2{
	font-size: 18px;
	color: #737373;
}

.tratamento-single p{
	padding: 10px 0;
	font-size: 13px;
	color: #b4b4b4;
}


/** AQUI INICIA OS DEPOIMENTOS **/

section.depoimentos > h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
}

section.depoimentos .container{
	padding: 40px 0 40px 0;
	max-width: 400px;
}

section.depoimentos .depoimento-single{
	text-align: center;
	width: 100%;
	padding: 5px 2%;
}

.depoimento-single quote{
	font-size: 15px;
	color: #b4b4b4;
}

.depoimento-single .nome-depoimento{
	padding: 8px 0;
}

.depoimento-single .nome-depoimento img{
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

.depoimento-single .nome-depoimento span{
	position: relative;
	top: 3px;
	font-size: 13px;
	color: #b4b4b4;
	display: inline-block;
	vertical-align: top;
}


/** AQUI INICIA O SOCIAL **/

.instagram-chamada{
	float: left;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background-color: #98a5ae;
}


.instagram-chamada p{
	color: white;
	font-size: 13px;
	padding: 10px 0;
	line-height: 23px;
}

.instagram-chamada img{
	cursor: pointer;
}

.mosaico-social{
	float: left;
	width: 100%;
	padding-top: 50px;
}

.img-mosaico-single-social{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	border: 4px solid white;
	background-repeat: no-repeat;
	background-size: 100% 70%;
}

.facebook-chamada{
	float: left;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background-color: #576975;
}

.facebook-chamada p{
	color: white;
	font-size: 13px;
	padding: 10px 0;
	line-height: 23px;
}

.facebook-chamada img{
	cursor: pointer;
}

/** AQUI INICIA O CONTATO **/

section.contato{
	padding: 60px 2%;
	background-color: rgb(230,230,230);
}

section.contato h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
}

section.contato form{
	width: 100%;
	max-width: 500px;
	margin: 30px auto;
}

.form-wraper{
	float: left;
	margin-top: 10px;
	padding: 0 10px;
}

.w100{
	width: 100%;
	text-align: center;
}

.w50{
	width: 50%;
}

.form-wraper span{
	font-size: 15px;
	color: #b4b4b4;
	float: left;
}

::placeholder{
	color: #698293;
	opacity: 0.45;
}

.form-wraper input[type=text]{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border: 1px solid #dadada;
	margin-top: 8px;
}

.form-wraper input[type=e-mail]{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border: 1px solid #dadada;
	margin-top: 8px;
}

.form-wraper input[type=Telefone]{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border: 1px solid #dadada;
	margin-top: 8px;
}

.form-wraper textarea{
	width: 100%;
	height: 121px;
	padding: 8px;
	border: 1px solid #dadada;
	resize: none;
	margin-top: 8px;
}

.form-wraper input[type=submit]{
	width: 100px;
	height: 35px;
	border: 0;
	background-color: #688293;
	color: white;
	cursor: pointer;
	display: inline-block;

	/*
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);*/
}

/** AQUI INICIA O FOOTER **/

footer{
	padding: 40px 2%;
	background-color: #688293;
}

footer .container{
	max-width: 900px;
}

footer .footer-block{
	float: left;
	width: 33.3%;
}

.footer-block h2{
	color: white;
	font-weight: normal;
	font-size: 18px;
}

.footer-block p{
	color: white;
	font-size: 14px;
	margin-top: 8px;
}








/** AQUI INICIA O RESPONSIVO **/

@media screen and (max-width: 1024px){
	.img-mosaico-single-social{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);
	}

	.mosaico-social > div:nth-of-type(1n+7){
		display:none
	}
}


@media screen and (max-width: 768px) {

	header nav.menu-desktop{
		display: none;
	}

	header nav.menu-mobile{
		display: block;
	}

	section.servicos .container{
		max-width: 800px;
		display: flex;
		align-items: center;
		position: relative;
		top: -40px;
		text-align: center;
		flex-direction: column;
	}

	section.servicos .container .box-servico:nth-of-type(1){
		width: 90%;
		max-width: 350px;
		padding: 30px 2%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
	}

	section.servicos .container .box-servico:nth-of-type(2){
		width: 90%;
		max-width: 380px;
		padding: 40px 2%;
		border-radius: 7px;
	}

	section.servicos .container .box-servico:nth-of-type(3){
		width: 90%;
		max-width: 350px;
		padding: 30px 2%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	section.perfil-container .container .perfil-wraper{
		padding-top: 0;
	}

	section.perfil-container .container .perfil-wraper2{
		display: inline-block;
		text-align: center;
		height: auto;
		position: static;
	}

	section.perfil-container .img-perfil{
		width: 50%;
		padding-top: 65%;
		display: inline-block;
	}

	section.perfil-container .texto-perfil{
		width: 100%;
		text-align: justify;
		padding: 0 30px;
		display: inline-block;
		padding-top: 40px;
	}

	section.videos{
		text-align: center;
	}

	section.videos .box-video{
		float: none;
		width: 70%;
		padding-top: calc(70% * 0.6);
		position: relative;
		border: 5px solid white;
		display: inline-block;
	}

	.img-mosaico-single-social{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);
	}

	.mosaico-social > div:nth-of-type(1n+4){
		display:none
	}

	footer{
		text-align: center;
	}

	footer .footer-block{
		float: none;
		width: 100%;
		margin: 30px 0;
	}

}


@media screen and (max-width: 480px){
	
	header .logo img{
	width: 190px;
	}

	section.videos .box-video{
		width: 100%;
		padding-top: calc(100% * 0.6);
	}
	.w50{
		width: 100%;
	}
}
